body
{
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    margin: 0;
}

#time_div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#time
{
    padding-top: 100px;
    padding-left: 700px;
}

h1
{
    font-size: 10em;
}

h2
{
    float: right;
    margin-top: -100px;
    padding-right: 20px;
}

#links
{
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.link_section
{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
    margin-right: 4%;
    font-size: 2em;
    padding-left: 2%;
    padding-right: 2%;
    width: 10%;
    border: solid 1px transparent;
    text-align: center;
    transition: 1s;
}

ul
{
    margin-top: 0;
    padding-left: 0;
}

li
{
    list-style-type: none;  
    padding-top: 5px;
    padding-bottom: 5px;
}

a
{
    display: block;
    color: transparent;
    text-decoration: none;
    position: relative;
    transition: 1s;
}

a::after
{
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

a:hover::after
{
    height: calc(100% + 8px)
}
